<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cobrança</title>
	
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap-datepicker.standalone.min.css}" />
</head>
<body>
	
	<header layout:insert="header"></header>
	
	<section layout:fragment="conteudo">
		<p>conteudo principal</p>
	</section>

	<script type="text/javascript" th:src="@{/js/jquery-3.1.1.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/bootstrap-datepicker.pt-BR.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/jquery.maskMoney.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/cobranca.js}" ></script>
	<script type="text/javascript" th:src="@{/js/moment.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/Chart.min.js}" ></script>
	<script type="text/javascript" th:src="@{/js/utils.js}" ></script>
	<script type="text/javascript" th:src="@{/js/graficos.js}" ></script>
</body>
</html>