<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadrao">
<head>
	<title>Pesquisa Inspecao</title>
</head>
	
	<section layout:fragment="conteudo">
		
		<div class="alert alert-success alert-dismissible" th:if="${!#strings.isEmpty(mensagem)}" role="alert">
		  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  <span th:text="${mensagem}"></span>
		</div>
	
		<div class="panel panel-default">
		  <div class="panel-heading">
		  
			  <div class="clearfix">
			    <h3 class="panel-title titulo-panel">Pesquisa Inspeção</h3>
			    <a class="btn btn-link titulo-link" th:href="@{/inspect/novo}">Nova Inspeção</a>
			  </div>
		  </div>
		  <div class="panel-body">
		   
		   		<form method="GET" class="form-horizontal" th:object="${filtro}">
		   			<div class="form-group">
		   				<div class="col-sm-4">
		   					<div class="input-group">
		   						<select name="id" class="form-control" th:field="*{id}">
		   							<option value="">Selecione a Barragem</option>
							    	<option th:each="item : ${listaBarragens}" th:value="${item.id}"  th:text="${item.nome}" ></option>
							    </select>
		   						<span class="input-group-btn">
		   							<button type="submit" class="btn btn-default">
		   								<i class="glyphicon glyphicon-search"></i>
		   							</button>
		   						</span>
		   					</div>
		   				
		   				</div>
		   			</div>
		   			
		   		</form>
		   		<div class="table-responsive">
		   		
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th class="text-center col-md-1">#</th>
								<th>Data</th>
								<th class="text-center col-md-2" >Categoria</th>
								<th class="text-center col-md-2">Dano Potencial</th>
								<th class="text-center col-md-2">Consideracao</th>
								<th class="text-center col-md-2">Barragem</th>
								<th class="col-md-1"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="item : ${inpecoes}">
								<td class="text-center" th:text="${item.id}">1</td>
								<td class="text-center" th:text="${{item.data}}">1</td>
								<td class="text-center" th:text="${item.categoriaRisco}">1</td>
								<td class="text-center" th:text="${item.danoPotencial}">1</td>
								<td class="text-center" th:text="${item.consideracoes}">1</td>
								<td class="text-center" th:text="${item.barragem.nome}">1</td>
								<td class="text-center" >
									 <a class="btn btn-link btn-xs" th:href="@{/inspect/{id}(id=${item.id})}" 
									 	title="Editar" rel="tooltip" data-toggle="tooltip" data-placement="top">
									 	<span class="glyphicon glyphicon-pencil"></span>
									 </a>
									  <a class="btn btn-link btn-xs" data-toggle="modal" th:attr="data-id=${item.barragem.id}, data-loc=@{/evacuacao/}, data-descricao=${item.barragem.nome}"
									  	title="Evacuação" rel="tooltip" data-placement="top" data-target="#modalPanico">
									 	<span class="glyphicon glyphicon-fire"></span>
									 </a>
								</td>
								
							</tr>
							<tr th:if="${#lists.isEmpty(inpecoes)}">
								<td colspan="6">Nenhuma Inspecao foi encontrada</td>
							</tr>
						</tbody>
					</table>
				</div>
		  </div>
		  
		  	<div layout:insert="modal"></div>
		</div>
	</section>
</html>