<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="LayoutPadrao">
<head>
	<title>Pesquisa Titulo</title>
</head>
	
	<section layout:fragment="conteudo">
    
	    <form class="form-horizontal" method="post" th:action="@{/registration}" th:object="${userForm}">
		    <div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
				<div th:each="item :${#fields.detailedErrors()}">
					<span th:text="${item.message}"></span>
				</div>
			</div>
		    
		    <div class="panel panel-default">
				  <div class="panel-heading">
					  <div class="clearfix">
					    <h3 class="panel-title titulo-panel">Cadastro de Usuario</h3>
					  </div>
				  </div>
				  <div class="panel-body">
				  	
			             <div class="form-group" th:classappend="${#fields.hasErrors('username')} ? 'has-error'">
						 	<label for="username" class="col-sm-2 control-label">Usuario</label>
						 	<div class="col-sm-4">
							    <input  id="username" th:field="*{username}" type="text" class="form-control" placeholder="Usuario"/>
						 	</div>
						  </div>
						  
						  <div class="form-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
						 	<label for="password" class="col-sm-2 control-label">Senha</label>
						 	<div class="col-sm-4">
							    <input  id="password" th:field="*{password}" type="password" class="form-control" placeholder="Senha"/>
						 	</div>
						  </div>
						  
						  <div class="form-group" th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'has-error'">
						 	<label for="passwordConfirm" class="col-sm-2 control-label">Confirme a Senha</label>
						 	<div class="col-sm-4">
							    <input  id="passwordConfirm" th:field="*{passwordConfirm}" type="password" class="form-control" placeholder="Confirme a Senha"/>
						 	</div>
						  </div>
			            
			             <div class="form-group">
						 	<div class="col-sm-offset-2 col-sm-10">
							    <button type="submit" class="btn btn-primary">Salvar</button>
						 	</div>
						  </div>
			       
				  </div>
				  
			</div>
		 </form>
     </section>
</html>