<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
      <meta charset="utf-8">
      <title>Create an account</title>

       <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
       <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
  </head>

  <body>

    <div class="container">

        <form class="form-signin" method="post" th:action="@{/registration}" th:object="${userForm}">
            <h2 class="form-signin-heading">Create your account</h2>
            
            <p>Username: <input type="text" th:field="*{username}" /></p>
            
            <p>Password: <input type="text" th:field="*{password}" /></p>
            
            <p>Confirm your password: <input type="text" th:field="*{passwordConfirm}" /></p>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>

    </div>

     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}" ></script>
  </body>
</html>