
@media (min-width:768px){
	.panel-default{
		margin-left: 10px;
		margin-right: 10px;
	}
	
	.alert{
		margin-left: 10px;
		margin-right: 10px;
	}
}

.titulo-panel{
	float: left;
	padding-top: 2px;
}

.titulo-link{
	float:right;
	padding: 0px;
}

.titulo-right{
	float:right;
}

.chart-container {
	width: 500px;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 40px;
}
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}